# copy this file to define your own local properties

# DEBUG
#debug=true

# SPRING_DATASOURCE_URL
spring.datasource.url=jdbc:h2:/tmp/h2/test

# SPRING_DATASOURCE_USERNAME
spring.datasource.username=sa

# SPRING_DATASOURCE_PASSWORD
spring.datasource.password=

# Actuator endpoints
management.endpoints.web.exposure.include=health,info
management.endpoint.health.show-details=never